# playbook.yml

- name: Install and configure WordPress on instance-1
  hosts: wordpress-instance
  gather_facts: false
  become: true

  vars:
    auth_kind: serviceaccount
    service_account_file: ./service_account.json

  tasks:
    # T창ches pour wordpress
    gcp_compute_auth:
      - name: Update apt cache
        # auth_kind: serviceaccount
        # service_account_file: ./service_account.json
        apt:
          update_cache: yes
        become: true
        environment:
          GOOGLE_AUTH_KIND: "{{ auth_kind }}"
          GOOGLE_APPLICATION_CREDENTIALS: "{{ service_account_file }}"
    - name: Install required packages for WordPress
      apt:
        name: "{{ item }}"
        state: present
      become: true
      with_items:
        - apache2
        - php
        - php-mysql
        - libapache2-mod-php
        - mysql-client

    # ... autres t창ches pour WordPress ...
    - name: Configure WordPress to use MariaDB on mariadb
      lineinfile:
        path: /var/www/html/wp-config.php
        regex: "define\\('DB_HOST', '[^']*'\\);"
        line: "define('DB_HOST', 'ip-instance-2');"
        state: present
      become: true

  handlers:
    # Handlers pour instance-1 (WordPress)
    - name: Restart Apache
      service:
        name: apache2
        state: restarted
      become: true

- name: Install and configure MariaDB on instance-2
  hosts: mariadb-instance
  gather_facts: false
  become: true

  tasks:
    # T창ches pour instance-2 (MariaDB)
    - name: Update apt cache
      apt:
        update_cache: yes
      become: true

    - name: Install MariaDB server
      apt:
        name: mariadb-server
        state: present
      become: true

    # ... autres t창ches pour MariaDB ...

  handlers:
    # Handlers pour instance-2 (MariaDB)
    - name: Restart MariaDB
      service:
        name: mysql
        state: restarted
      become: true
